.card {
    float: left;
    margin: 7px 9px 14px 7px;
    width: 150px;
    height: 205px;
}

.title {
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: darkblue;
}

.row {
    margin: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.img-thumbnail {
    height: 150px;
    width: 150px;
    float: right;
    min-width: 150px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.album-cover {
    height: 100px;
    width: 100px;
    min-width: 100px;
}

.album-info {
    font-size: larger;
}

.duration-col {
    text-align: right;

}

.total-duration {
    font-weight: bold;
    font-style: italic;
}

/*.album-wrapper {*/
    /*background-color: #C7C7CC;*/
    /*font-family: "Segoe UI", Arial, sans-serif;*/
/*}*/

.album-info-data {
    text-align: right;
}

.tracklist-title {
    text-align: center;
    font-weight: bold;
}

.artist-inactive-member {
    text-decoration: line-through;
    /*color: red;*/
}

.artist-profile {
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: #298cda;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: #663366;
}

/*.artist-wrapper {*/
    /*font-family: "Segoe UI", Arial, sans-serif;*/
    /*background-color: #C7C7CC;*/
/*}*/

.releases-title {
    text-align: center;
    font-weight: bold;
}

.releases-table {

}

.table tbody > tr > td.releases-table-row {
    vertical-align: middle;
    border-top: none;
}

.artist-profile-cropped {
    overflow: hidden;
    max-height: 150px;
}

.album-profile {
    margin-top: 20px;
    margin-bottom: 20px;
}

.clickable-table-row:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .img-thumbnail {
        float: right;
    }
}

@media (max-width: 767px) {
    .img-thumbnail {
        float: left;
    }
}

.artist-info, .releases-table, .track-table {
    font-size: larger;
}

.artist-picture {
    float: right;
}

.show-more-button {
    width: 100%;
}

body {
    background-color: #C7C7CC;
    font-family: "Segoe UI", Arial, sans-serif;
}

@media (max-height: 150px) {
    .show-more-button {
        display: none;
    }
}

.dropdown-menu > li > a:hover {
    background-color: #e4e4ea;
}

.pagination.releases-pagination {
    margin: 0px;
}

.releases-pagination {
    float: right;
}

.selections {
    height: 100%;

}

.filters {
    height: 25%;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.genres {
    height: 25%;
    overflow-y: scroll;
    position: relative;
}

.styles {
    height: 25%;
    overflow-y: scroll;
    position: relative;
}

.countries {
    height: 25%;
    overflow-y: scroll;
    position: relative;
}

.decades {
    height: 25%;
    overflow-y: scroll;
    position: relative;
}

.card > span > img {
    height: 150px;
    width: 150px;
}