.hideMe {
    display: none;
}

.card {
    float: left;
    margin: 7px 9px 14px 7px;
    width: 150px;
    height: 205px;
    cursor: pointer;
}

.title {
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: darkblue;
}

.row {
    margin: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.img-thumbnail {
    height: 150px;
    width: 150px;
    float: right;
    min-width: 150px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.album-cover {
    height: 100px;
    width: 100px;
    min-width: 100px;
}

.album-info {
    font-size: larger;
}

.duration-row {
    text-align: right;
}

#total-duration {
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

.album-info-data {
    text-align: right;
}

.tracklist-title {
    text-align: center;
    font-weight: bold;
}

.artist-inactive-member {
    text-decoration: line-through;
    /*color: red;*/
}

.artist-profile {
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: #298cda;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: #663366;
}

.releases-title {
    text-align: center;
    font-weight: bold;
}

.releases-table {

}

.table tbody > tr > td.releases-table-row {
    vertical-align: middle;
    border-top: none;
}

.artist-profile-cropped {
    overflow: hidden;
    max-height: 150px;
}

.album-profile {
    margin-top: 20px;
    margin-bottom: 20px;
}

.clickable-table-row:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .img-thumbnail {
        float: right;
    }
}

@media (max-width: 767px) {
    .img-thumbnail {
        float: left;
    }
}

.artist-info, .releases-table, .track-table {
    font-size: larger;
}

.artist-picture {
    float: right;
}

.show-more-button {
    width: 100%;
}

body {
    background-color: #C7C7CC;
    font-family: "Segoe UI", Arial, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-height: 150px) {
    .show-more-button {
        display: none;
    }
}

.mainContainer {
    height: 94%;
}

.dropdown-menu > li > a:hover {
    background-color: #e4e4ea;
}

.pagination.releases-pagination {
    margin: 0px;
}

.releases-pagination {
    float: right;
}

.albumsPagination {
    margin-left: 13px;
}

.selections {
    height: 100%;

}

.filters {
    height: 25%;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.decades {
    height: 25%;
    overflow-y: scroll;
    position: relative;
}

.card > span > img {
    height: 150px;
    width: 150px;
}

.resultsContainer {
    overflow: auto;
}

.fullHeight {
    height: 100%;
}

.filterOptions {
    height: 20%;
    width: 100%;
    margin: 5px;
    padding: 3px;
    border: 4px solid rgba(173, 236, 255, 0.2);
    border-radius: 7px;
}

.filterOptions > .heading {
    height: 18%;
    padding-bottom: 5%;
}

.filterOptions > div {
    height: 80%;
}

.yearOptions {
    margin: 5px;
    padding: 3px;
    border: 4px solid rgba(173, 236, 255, 0.2);
    border-radius: 7px;
    width: 100%;
}

.yearOptions input {
    width: 100%;
}


.filterOptionsContainer {
    text-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 4px #f9c28a, 0 0 20px #f9c28a , 0 0 10px #f9c28a , 0 0 10px #f9c28a;
}

.selections {
    overflow-y: auto;
}

.selections a {
    text-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 4px #50c7ff, 0 0 20px #50c7ff , 0 0 10px #50c7ff , 0 0 10px #50c7ff;
}

.selections a:hover {
    text-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 4px #f9c28a, 0 0 20px #f9c28a , 0 0 10px #f9c28a , 0 0 10px #f9c28a;
}

/* Below CSS is for vertical scrolls */

::-webkit-scrollbar
{
    width: 22px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 4px;
    padding: 10px
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 7px;
    background: rgba(109, 139, 167, 0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(82, 127, 167, 0.4);
}

/*Images*/

.resultsContainer img:hover {
    border: 2px solid #808080;
    box-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 1px rgba(255,255,255,1) , 0 0 2px rgba(255,255,255,1) , 0 0 3px #f9935a, 0 0 10px #f9935a , 0 0 5px #f9935a , 0 0 10px #f9935a ;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.resultsContainer img {
    box-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 4px #6ab9ff, 0 0 20px #6ab9ff , 0 0 10px #6ab9ff , 0 0 10px #6ab9ff ;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
    margin: 8px;
}