.card {
    float: left;
    margin: 7px 9px 14px 7px;
    width: 150px;
    height: 205px;
}
.title {
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: darkblue;
}

.row {
    margin: 0;
}