{{#if artist}}
<div class="artist-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-header">
                <h2 class="artist-title">
                    {{this.artist.name}}
                </h2>
            </div>
        </div>
        <div class="row artist-info">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                {{#if this.artist.description}}
                <div class="row artist-profile">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <span>Information</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                        <div class="{{showMoreInfo ? '': 'artist-profile-cropped'}}">{{this.artist.description}}</div>

                        <button on-click="@this.toggle('showMoreInfo')" class="btn btn-primary show-more-button">
                            {{showMoreInfo ? "Show less" : "Show more"}}
                        </button>
                    </div>
                </div>
                {{/if}}

                {{#partial band}}
                <!--TODO read about partial-->
                {{/partial}}


                {{#if this.artist.members}}
                <div class="row artist-members artist-profile">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <span>Members</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        {{#each this.artist.members:i}}
                        {{#if this.active}}
                        <a on-click="@this.selectArtist(this.resource_url)">{{this.name}}</a>{{i < artist.members.length
                        - 1 ? ", ": ""}}
                        {{else}}
                        <a on-click="@this.selectArtist(this.resource_url)"
                           class="artist-inactive-member">{{this.name}}</a>{{i < artist.members.length - 1 ? ", ": ""}}
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
                {{elseif this.artist.groups}}
                <div class="row artist-groups artist-profile">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <span>Groups</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        {{#each this.artist.groups:i}}
                        {{#if this.active}}
                        <a on-click="@this.selectArtist(this.resource_url)">{{this.name}}</a>{{i < artist.groups.length
                        - 1 ? ", ": ""}}
                        {{else}}
                        <a on-click="@this.selectArtist(this.resource_url)"
                           class="artist-inactive-group">{{this.name}}</a>{{i < artist.members.length - 1 ? ", ": ""}}
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
                {{else}}

                {{/if}}
                {{#if artist.images}}
                <div class="row artist-pictures artist-profile">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <span>Pictures</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <span class="artist-picture"><img src={{artist.images[0].resource_url}}></span>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row artist-releases">
            <h3 class="releases-title">Discography</h3>
            <div class="row releases-topbar">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 dropdown releases-sort">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Sort by
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a on-click="@this.sortAlbums('ascYear')">Year Ascending(0-9)</a></li>
                        <li><a on-click="@this.sortAlbums('descYear')">Year Descending(9-0)</a></li>
                        <li><a on-click="@this.sortAlbums('ascTitle')">Title Ascending(A-Z)</a></li>
                        <li><a on-click="@this.sortAlbums('descTitle')">Title Descending(Z-A)</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
                    {{this.currentPage * this.albumsPerPage - (this.albumsPerPage - 1)}} - {{this.currentPage * this.albumsPerPage > this.artist.releases.length ?
                    this.artist.releases.length: this.currentPage * this.albumsPerPage}} of {{this.artist.releases.length}}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2 releases-pagination">
                    <ul class="pagination releases-pagination">
                        <li class="page-item">
                            <a on-click="@this.displayAlbumPage(this.currentPage - 1)"
                               class="page-link">Previous</a></li>
                        <li class="page-item">
                            <a on-click="@this.displayAlbumPage(this.currentPage + 1)"
                               class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-hover releases-table">
                    <thead>
                    <tr>
                        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1 releases-table-row">Year</th>
                        <th class="col-lg-10 col-md-9 col-sm-8 col-xs-8 releases-table-row">Album</th>
                        <th class="col-lg-1 col-md-2 col-sm-3 col-xs-3 releases-table-row col-centered"
                            style="text-align: center">Cover
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each currentAlbumsDisplayed}}
                    <tr class="clickable-table-row" on-click="@this.selectAlbum(this.resource_url)">
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 releases-table-row">{{this.year}}</td>
                        <td class="col-lg-10 col-md-9 col-sm-8 col-xs-8 releases-table-row">{{this.title}}</td>
                        <td class="col-lg-1 col-md-2 col-sm-3 col-xs-3 releases-table-row col-centered"><img
                                src="{{this.thumb}}" class="img-thumbnail album-cover"></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{else}}
<div class="loader"></div>
{{/if}}