{{#if album}}

<div class="album-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-header">
                <h2 class="album-title">
                    {{#each album.artists:i}}
                    <a on-click="@this.selectArtist(this.resource_url)">{{this.name}}</a>{{i < album.artists.length - 1
                    ? ", ": ""}}
                    {{/each}}
                    - {{album.title}}
                </h2>
            </div>
        </div>
        <div class="row album-info">
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                <div class="row album-profile">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <span>Genre</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        {{#each album.genres:i}}
                        <a>{{this}}</a>{{i < album.genres.length - 1 ? ", " : ""}}
                        {{/each}}
                    </div>
                </div>

                <div class="row album-profile">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <span>Style</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        {{#each album.styles:i}}
                        <a>{{this}}</a>{{i < album.styles.length - 1 ? ", " : ""}}
                        {{/each}}
                    </div>
                </div>

                <div class="row album-profile">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <span>Year</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <a>{{album.year}}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                <!-- TODO: dynamic image size-->
                <img src="{{album.albumArtURL}}" class="img-thumbnail">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="tracklist col-lg-12 col-md-12 col-sm-12">
                <h3 class="tracklist-title">Tracklist</h3>
                <table class="table track-table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        {{#if album.totalDuration}}
                        <th class="duration-col">Duration</th>
                        {{/if}}
                    </tr>
                    </thead>
                    <tbody>
                    {{#each album.tracklist:i}}
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{this.title}}</td>
                        <td class="duration-col">{{this.duration}}</td>
                    </tr>
                    {{/each}}
                    {{#if album.totalDuration}}
                    <tr>
                        <td class="duration-col total-duration" colspan=3>Total Duration: {{album.totalDuration}}</td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="loader"></div>
{{/if}}