<button on-click="@this.handleClick()">Click me</button>
<label>You clicked {{clicks}} times.</label>
<br>
<label>Square clicks {{squareClicks}}</label>
<br>
<label>Computed array {{#demoArr}}{{this}}{{/}}</label>

<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input value="{{username}}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input value="{{password}}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{#users:i}}
                <tr on-click="@this.handle(this, i)">
                    <th>{{i+1}}</th>
                    <td>{{this.name}}</td>
                    <td>
                        <input value="{{pass}}" type="password" class="form-control"  placeholder="Password">
                    </td>
                    <td>{{> marto}}</td>
                </tr>
            {{/}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{{@this.returnHtml()}}}
    </div>
    <div class="col-md-6">
        {{{html}}}
    </div>
</div>
<div class="row">
    {{# naVekeObj:key}}
        <div class="col-md-4">
            {{key + ' ' + this}}
        </div>
    {{/}}
</div>

{{#partial marto}}
    <h1>Na marto partiala</h1>
{{/partial}}

